body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_Text1 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_Text2 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#wb_Text3 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text3 div
{
   text-align: left;
}
#wb_Text4 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text4 div
{
   text-align: left;
}
#wb_TextMenu1
{
   background-color: transparent;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
#wb_TextMenu1 span
{
   display: block;
   margin: 0 0 8px 0;
   line-height: 16px;
}
#wb_TextMenu2
{
   background-color: transparent;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
#wb_TextMenu2 span
{
   display: block;
   margin: 0 0 8px 0;
   line-height: 16px;
}
#wb_TextMenu3
{
   background-color: transparent;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
#wb_TextMenu3 span
{
   display: block;
   margin: 0 0 8px 0;
   line-height: 16px;
}
#wb_TextMenu4
{
   background-color: transparent;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
#wb_TextMenu4 span
{
   display: block;
   margin: 0 0 8px 0;
   line-height: 16px;
}
#Editbox1
{
   
   background-color: #FFFFFF;
   color :#000080;
   font-family: "Arial Black";
   font-weight: normal;
   font-size: 13px;
   text-align: left;
   vertical-align: middle;
}
#PageFooter1
{
   background-color: #A9A9A9;
}

#PageFooter2
{
   background-color: #FFFFFF;
}

